.Econt {
  width: 100%;
  margin-top: 2.25em;
  position: relative;
}
.Econt::after,
.Econt::before {
  position: absolute;
  top: 0;
  content: " ";
  z-index: 10;
  width: var(--padding);
  height: 100%;
}
.Econt::before {
  background: linear-gradient(to right, var(--background) 10%, #17171b00);
  left: calc(-1 * var(--padding));
}
.Econt::after {
  background: linear-gradient(to right, #17171b00, var(--background) 90%);
  right: calc(-1 * var(--padding));
}
.expArea {
  width: calc(100% + 2 * var(--padding));
  transform: translateX(calc(-1 * var(--padding)));
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding-inline: var(--padding);
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  display: flex;
  gap: 2.5em;
}
.expArea::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
