.Main {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.Sbar,
.topbar {
  position: absolute;
  --alpha: 0.8;
  z-index: 10;
  top: 0;

  pointer-events: none;
  background: #b15aa1;
}
.Sbar {
  z-index: -4;
  height: 100%;
  width: 5em;
  left: -0.1em;

  background: linear-gradient(
    to right,
    var(--background) 10%,
    /* rgb(from var(--background) r g b / var(--alpha)), */
      rgb(from var(--background) r g b / 0)
  );
}
.rigthbar {
  right: -0.1em;
  left: auto;
  transform: rotate(180deg);
}
.topbar {
  position: absolute;
  --alpha: 0.8;
  width: 100%;
  height: calc(var(--menuheight) * 1.5);
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    var(--background) 10%,
    rgb(from var(--background) r g b / var(--alpha)) 70%,

    rgb(from var(--background) r g b / 0)
  );
  z-index: 10;
  pointer-events: none;
}
.Main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.Main [hidden] {
  display: none;
}
.fornt {
  position: relative;
  z-index: 100;
  width: calc(100%);
  padding-bottom: 2.5em;
  height: min-content;
  padding-inline: calc(var(--padding) * 1.5);
}
.BG {
  z-index: 0;
  position: absolute;
  inset: 0px;
  overflow: hidden;
  width: calc(100%);
  height: calc(100%);
  background-color: var(--background);
}
.film::before,
.film::after {
  position: absolute;
  transform: translateX(-50%);
  width: calc(500%);
  height: calc(100%);
  content: " ";
  inset: 0px;
  top: 0;
  left: 50%;
}
.film::after {
  z-index: -5;

  -webkit-backdrop-filter: blur(50px) saturate(100%);
  backdrop-filter: blur(50px) saturate(150%);
}
.film::before {
  z-index: -1;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3e%3cdefs%3e%3cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3e%3cfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3e%3c/feTurbulence%3e%3cfeSpecularLighting surfaceScale='28' specularConstant='3' specularExponent='20' lighting-color='%233d3da4' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3e%3cfeDistantLight azimuth='3' elevation='48'%3e%3c/feDistantLight%3e%3c/feSpecularLighting%3e%3c/filter%3e%3c/defs%3e%3crect width='700' height='700' fill='transparent'%3e%3c/rect%3e%3crect width='700' height='700' fill='%233d3da4' filter='url(%23nnnoise-filter)'%3e%3c/rect%3e%3c/svg%3e");
  background-repeat: repeat;
  background-position: 0 0;
  /* background-size: 182px; */
  background-size: 32em;
  opacity: 0.175;

  animation: grainM 0.6s linear 0s infinite forwards;
}
@keyframes grainM {
  0%,
  100% {
    background-position: -20em -20em;
  }
  24.9% {
    background-position: -20em -20em;
  }
  25% {
    background-position: -5em -23em;
  }
  49.9% {
    background-position: -5em -23em;
  }
  50% {
    background-position: -10em -30em;
  }
  74.9% {
    background-position: -10em -30em;
  }
  75% {
    background-position: -30em -5em;
  }
  99.9% {
    background-position: -30em -5em;
  }
}

.BG > div {
  z-index: -9;
  border-radius: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}
#backBall0 {
  background-color: #b15aa1;
  top: 0px;
  left: 0px;
  min-width: 200px;
  max-width: 400px;
  aspect-ratio: 1/1;
}

#backBall1 {
  background-color: #3b3aa4;
  min-width: 600px;
  aspect-ratio: 1/1;
}
#backBall3 {
  background-color: #e5dfd9;
  width: 150px;
  aspect-ratio: 1/1;
}
#backBall4 {
  display: block;
  background-color: #4e4cb8;
  width: 225px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 1100px) {
  #backBall4 {
    display: none;
  }
}
