.SkillArea {
  margin-top: 2.25em;
  display: flex !important;
  justify-content: space-between;
}
.cc {
  flex: 0.3;
}
.cc svg {
  width: 2em;
  height: 2em;
  aspect-ratio: 1/1;
}
.cc h3 {
  margin-block: 0.25em 0.5em;
  font-size: 1.35em;
  word-spacing: -2px;
  font-weight: 500;
  width: fit-content;
  background: linear-gradient(to right, #fafafa 50%, #6a6969);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.cc p {
  color: var(--textdark);
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4em;
}

@media screen and (max-width: 700px) {
  .SkillArea {
    flex-direction: column;
    gap: 2em;
  }
  .cc {
    width: 80%;
    min-width: 300px;
    flex: 1;
  }
}
