.nav_but {
    cursor: pointer;
    border: 0;
    z-index: 21;
    margin-block: auto;
    margin-inline: auto 0vw;
    padding: 0;
    border-radius: 2px;
    width: 44px;
    height: 32px;
    display: none;
    transition: all 350ms;
    overflow: hidden;
    background-color: transparent;
  }
  .nav_but svg {
    fill: var(--text);
    width: 100%;
    height: 100%;
    transition: transform 0.4s, fill 0.5s;
  }
  .threebar {
    transform: translateX(0px);
  }
  .backarro {
    transform: translateX(44px) translateY(-36px) rotateY(180deg);
  }
  @media screen and (max-width: 550px) {
    .nav_but {
      display: block;
    }
  }
  