.body {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.body > div {
  flex: 1;
  padding-bottom: calc(0.5 * var(--padding));
}
.into {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.into h1,
.into span {
  font-size: 4em;
}
.into > div {
  margin-top: 2em;
  width: fit-content;
  display: flex;
  height: min-content;
}
.into h2 {
  color: var(--textdark);
  font-size: 1.23em;
  font-weight: 400;
}
.Tanime {
  height: 1.5em;
  overflow: hidden;
}
.Tanime > div > h2 {
  padding: 0.025rem 0.75rem 0.25rem 0.5rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}
.Tanime div:first-child {
  animation: text-animation 8s infinite forwards;
}
@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  16.66% {
    margin-top: 0;
  }
  33.33% {
    margin-top: -5.61rem;
  }
  49.99% {
    margin-top: -5.61rem;
  }
  66.66% {
    margin-top: -11.22rem;
  }
  83.33% {
    margin-top: -11.22rem;
  }
  100% {
    margin-top: -16.83rem;
  }
}
@media screen and (max-width: 900px) {
  .body {
    flex-direction: column;
    padding-top: calc(var(--menuheight) + 2em);
    height: fit-content;
    gap: 0em;
  }
  .into h1,
  .into span {
    font-size: 3em;
  }
}
