.workCard {
  container-name: CardContainer;
  container-type: inline-size;

  background-color: color-mix(
    in srgb,
    var(--background) 95%,
    rgb(255, 255, 255) 2.5%
  );

  outline-color: color-mix(
    in srgb,
    var(--background) 75%,
    rgb(255, 255, 255) 50%
  );
  outline-width: 1.5px;
  outline-style: solid;
  border-radius: 1.2em;
  position: relative;
  width: 100%;
  gap: 1.5em;
  color: var(--text);
}
.workarea {
  display: grid;
  grid-template-columns: 0.85fr 1.15fr;
  gap: 1em;
  padding: 1em;
  aspect-ratio: 16/4.5;
}
.Comp {
  font-size: 2rem;
  display: flex;
  padding-block: 2rem 0px;
  width: 100%;
  min-height: 7.5em;
  justify-content: center;
  align-items: flex-end;
}
.LOAD {
  animation: Load 0.5s infinite alternate linear;
}

@keyframes Load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.workCard:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.center {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.workImg {
  border-radius: 0.6em;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: color-mix(
    in srgb,
    var(--background) 75%,
    rgb(255, 255, 255) 50%
  );
  animation: blink 0.5s infinite alternate linear;
  outline-color: color-mix(in srgb, var(--xlight) 75%, rgba(0, 0, 0, 0.5) 50%);
  outline-width: 1.5px;
  outline-style: solid;
}
@keyframes blink {
  from {
    background-color: #5b5abbcb;
  }
  to {
    background-color: #6968ab;
  }
}
.workImg .Pimg {
  position: absolute;
  width: 102%;
  height: 102%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  text-align: center;
}
.workImg .Pimg:hover {
  width: 110%;
  height: 110%;
}
.workDes {
  width: 100%;
  max-height: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.head_tag {
  display: grid;
  gap: 1em;
}
.workHead {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 700;
}
.tags {
  display: flex;
  gap: 0.4em;
}
.tags div {
  width: fit-content;
  height: fit-content;
  padding: 0.2em 0.7em;
  border-radius: 100px;
  font-size: 0.8em;
  border: 1px solid var(--primary);
  background-color: #2a2a8958;
  color: #c4c4ed;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.workPara {
  overflow: hidden;
  --linHei: 1.4em;
  padding-inline: 0.5em;
  width: 89%;
  flex: 1;
  color: var(--textdark);
  font-size: 1em;
  font-weight: 400;
  line-height: var(--linHei);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
}
.workBut {
  width: 100%;
  display: flex;
  float: right;
  flex-direction: row-reverse;
  justify-content: space-between;
}
/* .workCard:nth-child(2n + 1) .workBut {
  flex-direction: row;
} */
.workTo:visited,
.workTo {
  color: var(--textdark);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.07em;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  font-size: 1em;
  position: relative;
  z-index: 10;
  border-radius: 0.2em;
  overflow: hidden;
  outline: color-mix(in srgb, var(--background) 95%, rgb(255, 255, 255) 20%)
    1.5px solid;
}
.workTo::before {
  z-index: -1;
  position: absolute;
  content: " ";
  transform: translateX(-50%);
  left: 50%;
  top: auto;
  bottom: 0em;
  width: 15%;
  height: 0.1em;
  background-color: var(--text);
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  transition: all 0.3s;
}
.workTo:hover {
  color: var(--text);
  outline: color-mix(in srgb, var(--background) 95%, rgb(255, 255, 255) 20%) 0px
    solid;
}
.workTo:hover::before {
  background-color: var(--primary);
  width: 150%;
  height: 150%;
  bottom: 0em;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
}
@container CardContainer (width < 700px) {
  .workarea {
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 0em;
  }

  .workImg {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    height: 20em;
    aspect-ratio: 16/10;
  }
  .workDes {
    padding-inline: 1em;
    padding-bottom: 1em;
  }
  .workPara {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .workCard {
    flex-direction: column;
  }
  .workCard:nth-child(2n + 1) {
    flex-direction: column;
  }
  .workCard:nth-child(2n + 1) .workBut {
    flex-direction: row-reverse;
  }
  .center,
  .workImg {
    width: 100%;
  }
  .workDes {
    width: calc(100%);
  }
  .wmore::after {
    right: -12.5%;
  }
  .wmore:hover::after {
    right: -20%;
  }
}
@media screen and (max-width: 500px) {
  .workCard {
    padding-inline: 1em;
    padding-block: 1em;
    margin-bottom: 2rem;
  }
  .workCard::before {
    bottom: -1em;
  }

  .head_tag {
    gap: 1em;
    flex-direction: column;
  }
  .LOAD {
    padding-block: 2rem;
    align-items: end;
  }
}
@media screen and (max-width: 400px) {
  .workPara {
    padding-inline: 0.25em;
  }
}
