:root {
  --text: #fafafa;
  --textRGB: 250, 250, 250;
  --textdark: #a7a6a6;
  --background: #17171b;
  --primary: hsl(240, 53%, 54%);
  --dprimary: #3d3da4;
  --secondary: #101033;
  --accent: #4848c7;
  --light: #9d9de1;
  --mlight: #6363cf;
  --mlightRGB: 99, 99, 207;
  --xlight: #d8d8f3;
  --xlightRGB: 216, 216, 243;

  --loadersize: 200px;
  --semibold: "ClashGrotesk-Semibold";
  --padding: min(8vw, 120px);
  --menuheight: min(11%, 100px);
  --menutoppad: min(4vh, 20px);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text);
  font-family: "Mona sans", sans-serif;
  width: 100svw;
  height: 100svh;
  margin: auto;
  display: grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  justify-items: center;
}
body > * {
  --max-width: 1600px;
  max-width: var(--max-width);
}
main {
  --max-section-h: 1440px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  background-color: var(--background);
  box-shadow: 0 3px 150px var(--background);
}
main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.privacy-screen {
  background-color: #2a1955;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}
a {
  color: inherit;
  text-decoration: none;
}
.maskCont {
  position: relative;
  z-index: 10;
}
.border_bar {
  pointer-events: none;
  --alpha: 0.8;
  z-index: -100;
  position: absolute;
  width: 10em;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--background) 10%,
    rgb(from var(--background) r g b / var(--alpha)) 50%,

    rgb(from var(--background) r g b / 0)
  );
  left: -0.5em;
}
.border_bar:last-of-type {
  left: auto;
  right: -0.5em;
  transform: rotate(180deg);
}
.maskBg {
  position: absolute;
  inset: 0;
  z-index: -200;
  -webkit-mask-image: linear-gradient(#0000 1%, #000, #0000 99%);
  mask-image: linear-gradient(#0000 1%, #000, #0000 99%);
}
.maskBg::after,
.maskBg:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: color-mix(in srgb, #17171b 10%, #17171b00 100%);
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);
}
.maskBg::after {
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  /* opacity: 0; */
  z-index: -1;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' transform='scale(1)'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='40' height='68.436' patternTransform='scale(1) rotate(0)'%3E%3Cpath d='M20 68.436V55.93c0-4.071 2.36-7.847 6.372-10.03C31.092 43.244 36.46 41.533 40 34.218v12.507c0 4.071-2.36 7.847-6.372 10.03C28.85 59.41 23.481 61.179 20 68.436zm0-17.108V38.82c0-4.07-2.36-7.846-6.372-10.03C8.908 26.137 3.54 24.426 0 17.11v12.507c0 4.07 2.36 7.846 6.372 10.03C11.15 42.3 16.519 44.07 20 51.326z' stroke-width='1' stroke='none' fill='%23fff'/%3E%3Cpath d='M20 85.545V73.038c0-4.07-2.36-7.847-6.372-10.03C8.908 60.354 3.54 58.643 0 51.327v12.507c0 4.071 2.36 7.847 6.372 10.03C11.15 76.519 16.519 78.289 20 85.545zm0-68.436V4.602c0-4.07-2.36-7.847-6.372-10.03C8.908-8.082 3.54-9.793 0-17.108v12.506C0-.53 2.36 3.245 6.372 5.428 11.15 8.083 16.519 9.853 20 17.109zm0 17.11V21.71c0-4.07 2.36-7.846 6.372-10.03C31.092 9.028 36.46 7.317 40 .002v12.507c0 4.07-2.36 7.846-6.372 10.03C28.85 25.191 23.481 26.961 20 34.217z' stroke-width='1' stroke='none' fill='%23fff'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' transform='translate(0,0) scale(3)' fill='url(%23a)'/%3E%3C/svg%3E");
}
.maskBg:before {
  -webkit-backdrop-filter: blur(2em);
  backdrop-filter: blur(2em);
  z-index: -2;
  background-color: color-mix(in srgb, var(--background) 75%, #17171b00 100%),
    linear-gradient(var(--background) 5%, #0000, var(--background) 95%);
}
.dot {
  position: absolute;
  width: 7.5em;
  z-index: -10;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  backdrop-filter: blur(2em);
  -webkit-backdrop-filter: blur(2em);
  background: radial-gradient(circle, #9d9de1ba 15%, #9d9de100 75%);
  border-radius: 100vmax;
}
