:root {
  --text: #fafafa;
  --textRGB: 250, 250, 250;
  --textdark: #a7a6a6;
  --background: #17171b;
  --primary: hsl(240, 53%, 54%);
  --dprimary: #3d3da4;
  --secondary: #101033;
  --accent: #4848c7;
  --light: #9d9de1;
  --mlight: #6363cf;
  --mlightRGB: 99, 99, 207;
  --xlight: #d8d8f3;
  --xlightRGB: 216, 216, 243;

  --loadersize: 200px;
  --semibold: "ClashGrotesk-Semibold";
  --padding: min(8vw, 120px);
  --menuheight: min(11%, 100px);
  --menutoppad: min(4vh, 20px);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text);
  font-family: "Mona sans", sans-serif;
  width: 100svw;
  height: 100svh;
  margin: auto;
  display: grid;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  overflow: hidden;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='24' height='24' patternTransform='scale(1) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z' transform='translate(2,0)' stroke-width='0.5' stroke='hsla(240, 53%, 54%, 0.49)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  justify-items: center;
}
body > * {
  --max-width: 1440px;
  max-width: var(--max-width);
}
main {
  --max-section-h: 1440px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  background-color: var(--background);
  box-shadow: 0 3px 150px var(--background);
}
main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.privacy-screen {
  background-color: #2a1955;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}
a {
  color: inherit;
  text-decoration: none;
}
