.whole {
  margin: 0;
  width: 100%;
  height: fit-content;
  position: relative;
}
.img {
  overflow: hidden;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.img::after {
  position: absolute;
  z-index: 100;
  bottom: 0%;
  left: 0%;
  content: " ";
  min-width: 100%;
  min-height: 25%;
  background-image: linear-gradient(
    to top,
    #17171bff,
    #17171bbd,
    #17171b7e,
    #17171b3f,
    #17171b00
  );
}
.img img {
  filter: blur(25px);
  object-fit: cover;
}
.sect {
  position: relative;
  padding-top: var(--menuheight);
  z-index: 2;
  margin-inline: var(--padding);
  width: calc(100% - 2 * var(--padding));
  max-height: calc(1440px - var(--menuheight));
}
@media screen and (max-width: 500px) {
  .sect {
    padding-top: calc(2 * var(--menuheight));
  }
}
