.contact {
  display: flex;
  overflow: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 1440px;
}
.letsT {
  margin-top: min(9%, 200px);
  margin-inline: min(8vw, 120px);
  position: relative;
  height: 25%;
  display: flex;
  justify-content: flex-end;
}
.lets_talk {
  width: 100%;
  height: auto;
  overflow: visible;
}
.text {
  font-size: 48px;
  /* font-size: 42.18px; */
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  color: var(--Mcolor);
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.star {
  position: absolute;
  inset: auto 50% 0px auto;
  transform: translateX(50%) translateY(20%);
  width: 40px;
  aspect-ratio: 1/1;
  animation: rote 20s infinite linear;
}
@keyframes rote {
  from {
    transform: translateX(50%) translateY(50%) rotate(0deg);
  }
  to {
    transform: translateX(50%) translateY(50%) rotate(360deg);
  }
}
.condetail {
  margin-inline: var(--padding);
  flex: 1;
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.ranleft {
  flex: 1;
  height: fit-content;
  width: fit-content;
  max-width: 350px;
  margin-block: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--Mcolor);
  font-size: 1.5em;
}
.ranleft p {
  margin: 0;
}
.emailCo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  letter-spacing: 0.02em;
  padding-top: 20px;
}
.emailCo a {
  text-decoration: underline;
  transition: all 0.2s;
}
.emailCo a:hover,
.ResuLink:hover {
  color: var(--light) !important;
  text-decoration: none;
}
.ResuLink {
  padding-right: 2em;
  width: fit-content;
  position: relative;
}
.ResuLink svg {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 25%;
  left: calc(100% - 1.5em);
}
.ResuLink:hover svg {
  fill: var(--light);
}
.ranleft a,
.ranleft a:visited {
  transition: all 0.1s;
  color: inherit;
}
.linkList {
  flex: 1;
  max-width: 350px;
  padding-block: 2px;
  display: flex;
  flex-direction: column;
  margin-block: auto;
  padding-inline: calc(min(5vw, 30px) - 15px);
}
.linkList > a {
  height: 2em;
  font-size: 20px;
  font-size: 1.2em;
  transition: all 0.1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: calc(min(5vw, 30px) - 15px);
  border-bottom: 1px solid var(--text);
}
.linkList > a > p {
  text-align: right;
  transition: all 0.1s;
  text-decoration: none;
  color: var(--text);
  width: auto;
  flex: 1;
}
.linkList a:hover p {
  font-size: 1.06em;
  color: var(--light);
}
.linkList > a > svg {
  transition: all 0.2s ease;
  margin: auto;
  fill: var(--text);
  padding: 5px;
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1;
}
.linkList a:hover svg {
  fill: var(--light);
  transform: scale(140%);
}
.footer {
  padding-inline: var(--padding) !important;
  margin-bottom: 2vh;
}
@media screen and (max-width: 700px) {
  .contact {
    height: 80vh !important;
  }
  .condetail {
    font-size: 0.8rem;
    padding-block: 5vh;
    height: 25vh;
    flex-direction: column;
    margin-inline: auto;
  }
  .emailCo {
    justify-content: center;
    align-items: center;
  }
  .ranleft,
  .linkList {
    justify-content: center;
    align-items: center;
    margin-block: 0px;
    margin-inline: auto;
  }
  .linkList {
    width: 100%;
  }
  .ranleft p {
    text-align: center;
    align-items: unsafe;
  }
  .footer {
    margin-bottom: 2vh;
  }
}
