.proSect {
  display: flex;
  flex-direction: column;
  padding-top: min(15vh, calc(1.5 * 144px));
  width: calc(100% - calc(2 * min(8vw, 120px)));
  margin-inline: min(8vw, 120px);
  color: var(--text);
  position: relative;
}
.proSect > h2 {
  margin: 0px;
  font-size: 5em;
}

.proPara {
  background-color: var(--background);
  border: 1px solid var(--text);
  margin-top: 1.5em;
  padding: 1em 2em;
  width: calc(100%);
  font-size: 1.3em;
  box-shadow: 4px 4px 0px var(--text);
}
.proPara > * {
  margin: revert;
}
.proSummary {
  margin-top: 2em;
  padding: 2em;
  background-color: var(--dprimary);
}
.proSummary > h3 {
  margin: 0px;
  padding-bottom: 1em;
  font-size: 2.5em;
}
.proGS {
  display: flex;
}
.GS {
  flex: 1;
}
.GS p {
  font-size: 1.4em;
  padding-inline: 1em;
  padding-top: 1em;
  position: relative;
  z-index: 5;
}
.GS p::before {
  position: absolute;
  inset: -0.25em auto auto 0%;
  z-index: -1;
  font-size: 2.5em;
  font-weight: 700;
  color: var(--mlight);
}
.Solution p::before {
  content: "Solution:";
}
.Goal p::before {
  content: "Goal:";
}
@media screen and (max-width: 800px) {
  .proGS {
    flex-direction: column;
    gap: 2.5em;
  }
}
@media screen and (max-width: 500px) {
  .proSummary {
    padding-inline: 1em;
  }
  .proPara {
    padding: 0.5em 1em;
  }
  .GS p {
    padding-inline: 0.25em;
  }
  .proGS {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  .proSummary > h3 {
    font-size: 2em;
  }
  .GS::before {
    font-size: 1.5em;
    inset: -10% auto auto 0%;
  }
}
