.chat {
  overflow: hidden;
  z-index: 50;
  position: absolute;
  width: min(350px, calc(100vw - 80px));
  height: min(550px, 80vh);
  max-height: 80dvh;
  transition: all 0.4s;
  inset: calc(min(11%, 100px) + 30px) min(8vw, 120px) auto auto;
  transition-timing-function: cubic-bezier(1, 0.03, 0.48, 1);
  border: 1.25px solid var(--xlight);
  /* outline: 2px solid var(--accent); */
}
.chat[data-show="false"] {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.chat[data-show="false"] .chatBox {
  background-color: var(--primary);
}
.chatBox {
  position: absolute;
  inset: 0px 0px auto auto;
  border-radius: 1px;
  padding: 0px;
  background-color: var(--secondary);
  min-width: 100%;
  height: min(600px, 80vh);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.4s;
}
.chatHead {
  height: 50px;
  padding-inline: 35px;
  margin-block: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chatHead > h3 {
  margin: 0;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--xlight);
}
.chatHead > div {
  width: 40px;
  aspect-ratio: 1/1;
  position: relative;
  margin-block: auto;
  display: flex;
}
.chatHead > div > button {
  margin: auto;
  inset: 0px;
  transition: inset 0.4s;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
  border: 0;
}
.chat[data-show="false"] .chatBox > .chatHead > div > button {
  inset: -19.5px -36.5px auto auto;
}
.chat[data-show="true"] .chatBox > .chatHead > div > button {
  inset: -5px 0px auto auto;
}
.toggleBut > span {
  width: 100%;
  height: 100%;
  position: relative;
}
.toggleBut svg {
  top: 50%;
  left: 50%;
  position: absolute;
  fill: var(--xlight);
  /* stroke: var(--xlight); */
  width: 55%;
  height: 55%;
  opacity: 0;
  transition: opacity 0.3s;
}
.cross {
  transform: translate(-50%, -50%) rotateY(180deg);
}
.bot {
  transform: translate(-50%, -50%);
}
.chat[data-show="true"] .toggleBut .cross {
  opacity: 1;
}
.chat[data-show="false"] .toggleBut .bot {
  opacity: 1;
}
/* .chatHead > div > button > svg {
    aspect-ratio: 1/1;
  } */
/* .chat[data-show="true"] .chatBox > .chatHead > div > button path {
    d: path(
      "M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"
    );
  } */
/* .chat[data-show="false"] .chatBox > .chatHead > div > button path {
    d: path(
      "M 25 4.0625 C 12.414063 4.0625 2.0625 12.925781 2.0625 24 C 2.0625 30.425781 5.625 36.09375 11 39.71875 C 10.992188 39.933594 11 40.265625 10.71875 41.3125 C 10.371094 42.605469 9.683594 44.4375 8.25 46.46875 L 7.21875 47.90625 L 9 47.9375 C 15.175781 47.964844 18.753906 43.90625 19.3125 43.25 C 21.136719 43.65625 23.035156 43.9375 25 43.9375 C 37.582031 43.9375 47.9375 35.074219 47.9375 24 C 47.9375 12.925781 37.582031 4.0625 25 4.0625 Z M 25 5.9375 C 36.714844 5.9375 46.0625 14.089844 46.0625 24 C 46.0625 33.910156 36.714844 42.0625 25 42.0625 C 22.996094 42.0625 21.050781 41.820313 19.21875 41.375 L 18.65625 41.25 L 18.28125 41.71875 C 18.28125 41.71875 15.390625 44.976563 10.78125 45.75 C 11.613281 44.257813 12.246094 42.871094 12.53125 41.8125 C 12.929688 40.332031 12.9375 39.3125 12.9375 39.3125 L 12.9375 38.8125 L 12.5 38.53125 C 7.273438 35.21875 3.9375 29.941406 3.9375 24 C 3.9375 14.089844 13.28125 5.9375 25 5.9375 Z"
    );
  } */
.chatHead button:hover {
  background-color: #212154;
}
.chatHead button:active {
  background-color: #12111f;
}
