.chat {
  overflow: hidden;
  z-index: 50;
  position: absolute;
  width: min(350px, calc(100vw - 80px));
  height: min(550px, 80vh);
  max-height: 80dvh;
  transition: all 0.4s;
  inset: calc(min(11%, 100px) + 30px) min(8vw, 120px) auto auto;
  transition-timing-function: cubic-bezier(1, 0.03, 0.48, 1);
  border: 1.25px solid var(--xlight);
  /* outline: 2px solid var(--accent); */
}
.chat[data-show="false"] {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.chat[data-show="false"] .chatBox {
  background-color: var(--primary);
}
.chatBox {
  position: absolute;
  inset: 0px 0px auto auto;
  border-radius: 1px;
  padding: 0px;
  background-color: var(--secondary);
  min-width: 100%;
  height: min(600px, 80vh);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.4s;
}
.chatHead {
  height: 50px;
  padding-inline: 35px;
  margin-block: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chatHead > h3 {
  margin: 0;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--xlight);
}
.chatHead > div {
  width: 40px;
  aspect-ratio: 1/1;
  position: relative;
  margin-block: auto;
  display: flex;
}
.chatHead > div > button {
  margin: auto;
  inset: 0px;
  transition: inset 0.4s;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
  border: 0;
}
.chat[data-show="false"] .chatBox > .chatHead > div > button {
  inset: -19.5px -36.5px auto auto;
}
.chat[data-show="true"] .chatBox > .chatHead > div > button {
  inset: -5px 0px auto auto;
}
.toggleBut > span {
  width: 100%;
  height: 100%;
  position: relative;
}
.toggleBut svg {
  top: 50%;
  left: 50%;
  position: absolute;
  fill: var(--xlight);
  width: 55%;
  height: 55%;
  opacity: 0;
  transition: opacity 0.3s;
}
.cross {
  transform: translate(-50%, -50%) rotateY(180deg);
}
.bot {
  transform: translate(-50%, -50%);
}
.chat[data-show="true"] .toggleBut .cross {
  opacity: 1;
}
.chat[data-show="false"] .toggleBut .bot {
  opacity: 1;
}
.chatHead button:hover {
  background-color: #212154;
}
.chatHead button:active {
  background-color: #12111f;
}
@media screen and (max-width: 450px) {
  .chatHead {
    padding-inline: 20px;
    transition: padding 0.3s;
  }
  .chat[data-show="false"] .chatHead {
    padding-inline: 35px;
  }
}
