.top {
  display: flex;
  width: 100%;
  height: 40em;
  padding-inline: var(--padding);
  margin-block: var(--menuheight) 0;

  min-height: 20.5em;
  max-height: min(65em, calc(6.5 * 144px));
  justify-content: center;
}
.contain {
  left: calc(-3 * var(--padding));
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(1000px - 2 * var(--padding));
  width: 100%;
  height: 100%;
  gap: 1px;
}
.col {
  overflow: visible;
  height: 100%;
  max-height: 500px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ICont img {
  object-fit: cover;
}
.ICont {
  position: absolute;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.FF {
  z-index: 2;
  height: 70%;
  aspect-ratio: 11/12;
}
.MM {
  z-index: 5;
  aspect-ratio: 9/12;
  height: 90%;
}
.SS {
  z-index: 2;
  aspect-ratio: 13/10;
  height: 50%;
}

@media screen and (max-width: 600px) {
  .top {
    padding-bottom: 1em;
    height: 3em;
    margin-block: calc(2.5 * var(--menuheight)) 0;
    margin-inline: calc(2 * var(--padding));
    width: calc(100% - 4 * var(--padding));
  }
  .ICont {
    border-radius: 0.5em;
  }
}
