.file_attachment_wrapper {
  border-radius: 0.5em;

  overflow: hidden;
  margin-bottom: 2rem;
  width: 100%;
  height: fit-content;
  border: 0.5px solid var(--textdark);
  background-color: var(--background);
  font-weight: 300;
  position: relative;
}
.file_attachment_wrapper:hover {
  border: 0.5px solid var(--text);
}
.file_attachment_wrapper .attach_button {
  align-items: center;
  display: flex;
  height: 5.5rem;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.file_attachment_wrapper svg {
  flex-shrink: 0;
  width: max(40px, 2.4rem);
  aspect-ratio: 1/1;
  margin-right: max(14px, 1rem);
}
.attach_paperclip circle {
  fill: transparent;
  transition: fill 0.5s, stroke 0.5s;
}
.file_attachment_wrapper:hover .attach_paperclip circle {
  stroke: var(--primary);
  fill: var(--primary);
}
.file_attachment_wrapper .attach_loading {
  display: none;
}
.file_attachment_wrapper .attach_button_text {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  position: relative;
  transform: translateY(0%);
  transition: all 0.5s;
  width: 100%;
}
.file_attachment_wrapper:hover .attach_button_text {
  transform: translateY(-80%);
}
.file_attachment_wrapper .attach_button_details {
  color: var(--text);
  filter: opacity(40%);
  display: inline-block;
  font-size: 0.8em;
  left: 0;
  opacity: 0;
  position: absolute;
  transform: translateY(0%);
  transition: all 0.5s;
  width: 100%;
}
.file_attachment_wrapper:hover .attach_button_details {
  transform: translateY(2.5rem);
  opacity: 1;
}
.size {
  float: right;
}
.file_attachment_wrapper:hover {
  border: 0.5px solid var(--text);
}
.attach_button {
  cursor: pointer;
}
#file_input[data-enter="true"] + label .attach_paperclip {
  display: none;
}
#file_input[data-enter="true"] + label .attach_loading {
  display: block;
}
#file_input[data-enter="true"] + label .attach_button_text {
  display: none;
}
#attachment_name {
  display: none;
}
#file_input[data-enter="true"] + label #attachment_name {
  display: block;
  color: #000;
  font-size: 1em;
  flex: 1;
}
#file_input[data-enter="true"] + label .attachment_delete {
  visibility: visible;
}

.file_attachment_wrapper:has(#file_input[data-enter="true"]) {
  background-color: var(--text);
}

.attachment_delete {
  visibility: hidden;
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0px;
  outline: 0px;
  border: 0px;
}
.attachment_delete svg {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  border: 0px;
}
@media screen and (max-width: 700px) {
  .file_attachment_wrapper .attach_button_details {
    font-weight: 100 !important;
    font-size: 0.6rem !important;
  }
}
